.btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  appearance: none;
  color: #24292e;
  background: #eff3f6 linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%) repeat-x -1px -1px;
  padding: 3px 10px;
  font-size: 12px;
}

.btn:hover {
  text-decoration: none;
  background: #e6ebf1 linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%) repeat-x 0 -0.5em;
  border-color: rgba(27, 31, 35, 0.35)
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3)
}

.btn:active {
  background: #e9ecef none;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}

.btn:disabled {
  cursor: default;
  background-position: 0 0
}

.btn--primary {
  color: #fff;
  background: #28a745 linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}

.btn--primary:focus {
  box-shadow: 0 0 0 0.2em rgba(52, 208, 88, 0.3)
}

.btn--primary:hover {
  background-color: #269f42;
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  background-position: 0 -0.5em;
  border-color: rgba(27, 31, 35, 0.5)
}

.btn--primary:active {
  background-color: #279f43;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}

.btn--primary:disabled {
  color: rgba(255, 255, 255, 0.75);
  background: #94d3a2 none;
  border-color: rgba(27, 31, 35, 0.2);
  box-shadow: none
}

.btn--danger {
  color: #cb2431;
  background: #fafbfc linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.btn--danger:focus {
  box-shadow: 0 0 0 0.2em rgba(203, 36, 49, 0.3)
}

.btn--danger:hover {
  color: #fff;
  background: #cb2431 linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
  border-color: rgba(27, 31, 35, 0.5)
}

.btn--danger:active {
  color: #fff;
  background: #b5202c none;
  border-color: rgba(27, 31, 35, 0.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}

.btn--danger:disabled {
  color: rgba(203, 36, 49, 0.4);
  background: #eff3f6 none;
  border-color: rgba(27, 31, 35, 0.2);
  box-shadow: none
}

.social-count {
  float: left;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}

.social-count:hover {
  text-decoration: none
}

.social-count:hover {
  color: #0366d6;
  cursor: pointer
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center
}