.BtnGroup {
  display: inline-block;
  vertical-align: middle
}

.BtnGroup::before {
  display: table;
  content: ""
}

.BtnGroup::after {
  display: table;
  clear: both;
  content: ""
}

.BtnGroup + .BtnGroup, .BtnGroup + .btn {
  margin-left: 5px
}

.BtnGroup-item {
  position: relative;
  float: left;
  border-right-width: 0;
  border-radius: 0
}

.BtnGroup-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.BtnGroup-item:last-child {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}

.BtnGroup-item.selected, .BtnGroup-item:focus, .BtnGroup-item:active, .BtnGroup-item:hover {
  border-right-width: 1px
}

.BtnGroup-item.selected + .BtnGroup-item, .BtnGroup-item.selected + .BtnGroup-form .BtnGroup-item, .BtnGroup-item:focus + .BtnGroup-item, .BtnGroup-item:focus + .BtnGroup-form .BtnGroup-item, .BtnGroup-item:active + .BtnGroup-item, .BtnGroup-item:active + .BtnGroup-form .BtnGroup-item, .BtnGroup-item:hover + .BtnGroup-item, .BtnGroup-item:hover + .BtnGroup-form .BtnGroup-item {
  border-left-width: 0
}

.BtnGroup-form {
  float: left
}

.BtnGroup-form:first-child .BtnGroup-item {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.BtnGroup-form:last-child .BtnGroup-item {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px
}

.BtnGroup-form .BtnGroup-item {
  border-right-width: 0;
  border-radius: 0
}

.BtnGroup-form.selected .BtnGroup-item, .BtnGroup-form:focus .BtnGroup-item, .BtnGroup-form:active .BtnGroup-item, .BtnGroup-form:hover .BtnGroup-item {
  border-right-width: 1px
}

.BtnGroup-form.selected + .BtnGroup-item, .BtnGroup-form.selected + .BtnGroup-form .BtnGroup-item, .BtnGroup-form:focus + .BtnGroup-item, .BtnGroup-form:focus + .BtnGroup-form .BtnGroup-item, .BtnGroup-form:active + .BtnGroup-item, .BtnGroup-form:active + .BtnGroup-form .BtnGroup-item, .BtnGroup-form:hover + .BtnGroup-item, .BtnGroup-form:hover + .BtnGroup-form .BtnGroup-item {
  border-left-width: 0
}