.form .checkbox {
  display: inline-block;
  margin: 2px 3px 5px 0;
  padding: 0;
  vertical-align: middle;
}

.input {
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #2d5782;
  font-size: 12px;
  line-height: 20px;
  outline: none;
  transition: border linear 0.1s, box-shadow linear 0.1s;
}

.input:hover {
  border-color: #9d9d9d;
}

.input:focus {
  border-color: #6c89a7;
  box-shadow: 0 0 2px 1px rgba(108, 137, 167, 0.25);
  color: #2d5782;
}

.input:disabled {
  background-color: #f9f9f9;
  border-color: #e0e0e0;
  color: #96abc0;
}

.input[type="text"] {
  height: 22px;
}

.input[type="text"] {
  padding: 0 0 0 5px;
}

.form {
  text-align: left;
}

.form .fieldset {
  color: #444;
}

.form__field {
  color: #444;
  display: flex;
  margin-bottom: 8px;
}

.form__field--invalid .input {
  border-color: #ed7078;
}

.form__field--invalid .form__message {
  color: #ed7078;
}

.form__field:last-child {
  margin-bottom: 0;
}

.form__label {
  color: #444;
  line-height: 22px;
  margin-right: 30px;
  max-width: 200px;
  flex: 0 1 auto;
  font-size: 12px;
  width: 100%;
}

.form__label--required::after {
  color: #ed7078;
  content: "*";
  padding-left: 3px;
}

.form__label--optional::after {
  color: #b3b3b3;
  content: "(optional)";
  font-style: italic;
  padding-left: 3px;
}

.form__controls {
  flex: 1 0 auto;
  width: 200px;
}

.form__control {
  width: 100%;
}

.form__details-wrapper:not(:empty) {
  margin-top: 4px;
}

.form__message {
  line-height: 15px;
}
