.table {
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse;
  border: 1px #e1e4e8 solid;
  box-shadow: 0 1px 1px rgba(27, 31, 35, 0.05)
}

.table th {
  font-weight: 400;
  text-align: left
}

.table td,
.table th {
  padding: 8px;
  border-right: 1px #e1e4e8 solid;
  border-bottom: 1px #e1e4e8 solid
}

.table tbody th {
  width: 25%
}

.table tbody th, .table tbody td {
  border-bottom-color: #e1e4e8
}

.table tbody tr:last-child th,
.table tbody tr:last-child td {
  border-bottom: 1px #e1e4e8 solid
}
