.Pagination {
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 20px;
  grid-row: 3;
  grid-column: 2 / 3;
}

.Pagination__item {
  border: 1px solid #e1e4e8;
  border-right: none;
  color: #0366d6;
  padding: 7px 12px;
  cursor: pointer;
}

.Pagination__item:hover {
  background-color: #eff3f6;
  border-color: #e1e4e8;
}

.Pagination__item--previous {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Pagination__item--next {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #e1e4e8;
}

.Pagination__item--active {
  background-color: #0366d6;
  border-color: #0366d6;
  color: #fff;
}

.Pagination__item--active:hover {
  background-color: #0366d6;
  border-color: #0366d6;
}

.Pagination__item--disabled {
  color: #d1d5da;
  cursor: default;
  background-color: #fafbfc;
}

.Pagination__item--disabled:hover {
  background-color: #fafbfc;
}
